@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.loader-container {
	width: 100%;
	height: 20px;
	background-color: bisque;
	border-radius: 10px;
	overflow: hidden;
}

.loader-bar {
	width: 1%;
	height: 100%;
	background-color: green;
	border-radius: 10px;
	transition: width 3s ease;
}
